* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 1fr;
}

.navbar {
  background-color: blanchedalmond;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 30%;
  padding: 1.6rem;
}

.left {
  width: 100%;
  height: 100%;
}

.right {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 10%;
  background-color: lightgrey;
  border-radius: 1rem;
}

.new-poll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.new-poll h1 {
  margin-bottom: 1rem;
}

.new-poll input {
  font-size: 1.5rem;
  height: 3.5rem;
  width: 80%;
  background-color: white;
  color: black;
  padding: 1rem;
  border: none;
  border-radius: 0.8rem;
  outline: none;
}

.new-poll textarea {
  width: 80%;
  background-color: white;
  color: black;
  padding: 1rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  resize: none;
  outline: none;
}

.new-poll button {
  width: 80%;
  height: 10%;
  background-color: black;
  border: none;
  border-radius: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  color: white;
}

.new-poll button:hover {
  opacity: 0.8;
}

.acknowledgement {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
